<div class="body">
  <div class="container">
    <div class="card" *ngIf="chosenEmail; else loader">
      <span (click)="back()"><i class="fas fa-angle-left"></i></span>
      <div>
        <span><i class="far fa-smile"></i>
        <small> From:</small>
        <h4>
          {{ chosenEmail.from_user }}
        </h4></span>
        <small>Date: {{ chosenEmail.date.split('T')[0] + " " +  chosenEmail.date.split('T')[1].split("+")[0]}}</small>
      </div>
      <div class="divider"></div> 
      <div>
        <small >Title:</small>
        <br>
        <p>{{ chosenEmail.title }}</p>
      </div>
      <div class="divider"></div>
      <div *ngIf="extractedEmail; else: noLink">
        <p>{{ chosenEmail.text.replace(extractedEmail) }}</p>
        <a [href] = "extractedEmail">
          {{ extractedEmail }}
        </a>
      </div>

      <ng-template #noLink>
        <p>{{ chosenEmail.text }}</p>
      </ng-template>
      
    </div>

    <ng-template #loader>

      <div class="d-flex justify-content-center">
        <div class="spinner-border text-primary d-flex" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>

    </ng-template>
    
  </div>
</div>
